
<div class="container-xl">
	<div class="table-responsive">
		<div class="row">
			<div class="col-md-11 ">
				<div class="input-group md-form form-sm form-2 pl-0">
					<input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="recherche par formation ..." aria-label="Search" [(ngModel)]="formation" (input)="search()">
					<span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
				</div>
			</div>
		</div>
		<br>
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Liste <b>Formation</b></h2>
					</div>

					<div class="col-sm-6">
						<a href="" class="btn btn-success" data-toggle="modal" style="
						border-radius: 30px;" routerLink="/admin/ajouterformation"><i class="material-icons">&#xE147;</i> <span>Ajouter formation</span></a>
									
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover" >
				<thead>
					<tr>
						<th>Formation</th>
						<th>nbre heure</th>
						<th>Date debu</th>
						<th>Date fin</th>
						<th>Description</th>
						<th>prix</th>
						<th>Actions</th>
					
					</tr>
				</thead>
				<tbody >
					<tr  *ngFor="let item of formations |  paginate: {
						itemsPerPage: tableSize,
						currentPage: page,
						totalItems: count }; index as i ">
                        <td>{{item.nomformation}}</td>
                        <td>{{item.nbreHeure}}</td>
                        <td>{{item.dateDebu}}</td>
                        <td>{{item.dateFin}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.prix}}</td>
				
						<td>
							<a class="edit"  [routerLink]="['/admin/update',item._id]" ><i class="material-icons" data-toggle="tooltip" title="Edit"  >&#xE254;</i></a>
							<a  class="delete"   (click)="delete(item._id,i)"><i class="material-icons" data-toggle="tooltip" title="delete">&#xE872;</i></a>
						</td>
					</tr>
				</tbody>
			</table>

			<!--paginaton-->
			<div class="d-flex justify-content-center">
				<pagination-controls
				  previousLabel="Prev"
				  nextLabel="Next"
				  (pageChange)="onTableDataChange($event)"
				>
				</pagination-controls>
			</div>
			
		</div>
	</div>        
</div>






	

