.font-weight-bolder{
    color:rgb(29, 6, 110);
    text-shadow: 6px 6px 20px #070606;
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px;
}

.bg-blue {
    color: #fff;
    background-color: #1A237E;
}

.container-fluid{
    margin-top:5px;
 
}

.card{
    background-color: rgb(236, 230, 243);
}

.alert{
	padding-top: 0%;
	padding-bottom: 0%;
}