
<div class="container-fluid   mt-1 mb-0">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row">
                         <img src="assets/img/forcilogo.png"  class="logo"> 
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="assets/img/login.png" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0  py-5">
                    <div class="row mb-4 px-3">
                        <h1 class="mb-0 mr-4 mt-2">Sign in </h1>   
                    </div>
                      <hr>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Email </h6></label>
                        <input class="mb-4" type="text" [(ngModel)]="user.email"  name="email" placeholder="Enter a valid email address">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                        <input type="password" [(ngModel)]="user.password" name="password" placeholder="Enter password">
                    </div>

                    <!-- <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Role</h6></label>
                        <select class="form-select" aria-label="Role" name="role" [(ngModel)]="user.role">
                            <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                    
                        </select>
                    </div> -->
                    <!-- <div class="row px-3 mb-4">
                        <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                    </div> -->
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center" (click)="login()" >Login</button>
                    </div>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">Don't have an account? <a class="text-danger " routerLink="/sinscrire">Register</a></small>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Adresse : 1 er étage, Imm Ayadi, A coté d'impasse Sidi Assem Jendouba 8100, Jendouba, Tunisia</small>
                <small class="ml-4 ml-sm-5 mb-2">Telephone : + 216 53 225 250</small>
                <small class="ml-4 ml-sm-5 mb-2">Email : forci.plus@gmail.com</small>
            </div>
        </div>
    </div>
</div>
 
