<button class="btn btn-primary" printSectionId="demo" ngxPrint>Exporter</button>
<table class="center " id="demo">
    <tr><h1>Detail de payment</h1></tr>
    <tr>
        <td><strong>Nom : </strong> </td>
        <td><mark>{{payements.nom}}</mark></td>
        
    </tr>
    <br>
    <tr>
        <td><strong>Prenom :</strong></td>
        <td><mark>{{payements.prenom}}</mark></td>
        
    </tr>
    <br>
    <tr>
        <td><strong>Cin :</strong></td>
        <td><mark>{{payements.cin}}</mark></td>
        
    </tr>
    <br>
    <tr>
        <td><strong>Formation :</strong></td>
        <td><mark>{{payements.formation}}</mark></td>
    </tr>
    <br>
    <tr>
        <td><strong>Payement :</strong></td>
        <td><mark>{{payements.payement}}</mark></td>
    </tr>
    <br><br>
    <tr>
        <td><strong>Signature</strong></td>
        
    </tr>
</table>
