<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
  
  
  <mat-nav-list>
      <div class="logo py-4">
        <img src="./assets/forci.png" alt="Company Logo" />
      </div>
      <mat-divider></mat-divider>
      <h1 matSubheader class="mt-2">ESPACE SECRETAIRE GENERALE</h1>
    
     
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/secretairegeneral/gestetudiant">
        <mat-icon> directions_walk</mat-icon>Gestion Etudiant
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/secretairegeneral/gestpayement">
        <mat-icon> attach_money</mat-icon>Suivi payement
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/secretairegeneral/gestabscence">
        <mat-icon> font_download</mat-icon>Gestion abscence
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/secretairegeneral/gestcertif">
        <mat-icon> local_library</mat-icon>liste des attestations
      </a>
    </mat-nav-list>
  
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
  </mat-drawer-container>