
<body class="hm-gradient">
    
    <main>
        
        <!--MDB Tables-->
        <div class="container mt-4 ">

            <div class="card mb-4 ">
                <div class="card-body mt-2">

                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12 ">
                            <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text ">Consulter liste des materiels</h2>
                            <div class="input-group md-form form-sm form-2 pl-0">
                                <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="recherhe par destination ..." aria-label="Search"  [(ngModel)]="materiel" (input)="search()">
                                <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                     <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>N° serie</th>
                                <th>Type d'equipement</th>
                                <th>Marque</th>
                                <th>Model</th>
                                <th>Destination</th>
                                <th>date</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table" *ngFor="let item of materiels |  paginate: {
                                itemsPerPage: tableSize,
                                currentPage: page,
                                totalItems: count }; index as i">
                                <th>{{item.nserie}}</th>
                                <td>{{item.typeEquip}}</td>
                                <td>{{item.marque}}</td>
                                <td>{{item.model}}</td>
                                <td>{{item.destination}}</td>
                                <td>{{item.date | date}}</td>
                                <td>
                                    <a class="edit" data-toggle="modal" [routerLink]="['/technicien/update',item._id]" ><i class="material-icons" data-toggle="tooltip" title="Edit" >&#xE254;</i></a>
                                    <a class="delete" data-toggle="modal"  (click)="delete(item._id,i)" ><i class="material-icons" data-toggle="tooltip" title="Delete" >&#xE872;</i></a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                
                    <!--Pagination -->
                    <div class="d-flex justify-content-center">
                        <pagination-controls
                          previousLabel="Prev"
                          nextLabel="Next"
                          (pageChange)="onTableDataChange($event)"
                        >
                        </pagination-controls>
                      </div>
                
            </div>

        </div>
        <!--MDB Tables-->
      
    </main>
  
</body>